@model IEnumerable<QLNV_VB.Models.QuanTri>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    String ad = "";
}

<h2>Thông Tin Quản Trị</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Email
        </th>
        <th>
            Quyền
        </th>
        <th>
            Họ Tên
        </th>
        <th>
            Mật khẩu
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @{if (item.Admin == true)
                { ad = "Quản trị"; }
                else
                { ad = "Người Dùng"; }
            }
            @ad
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("Chỉnh Sửa", "Edit", new {  id=item.ID }) |
            @Html.ActionLink("Chi Tiết", "Details", new { id = item.ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
