@model QLNV_VB.Models.NhanVien

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string gtinh = "";
}


<h3>Bạn chắc chắn muốn xóa?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>Mã nhân viên</dt>
        <dd>@Html.DisplayFor(model => model.MaNV)</dd>
        <dt>
            Họ nhân viên
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoNV)
        </dd>

        <dt>
            Tên nhân viên
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenNV)
        </dd>

        <dt>
            Giới tính
        </dt>
        <dd>
            @{if (Model.GioiTinh == true)
                { gtinh = "Nam"; }
                else
                { gtinh = "Nữ"; }
            }
            @gtinh
        </dd>

        <dt>
            Ngày sinh
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            Lương
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Luong)
        </dd>

        <dt>Ảnh nhân viên</dt>
        <dd rowspan="8"><img src="@Html.DisplayFor(model => model.AnhNV)" width="100" height="100" /></dd>


        <dt>
            Địa chỉ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            Phòng ban
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhongBan.TenPB)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại danh sách", "Index")
        </div>
    }
</div>
